/* body {
  background-image: url(../img/background.jpg);
}
 */

form input[type="text"],
form input[type="password"] {
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid #d80d0d !important;
  border-radius: 6px !important;
  font-size: 16px !important;
  box-sizing: border-box !important;
}
